@tailwind base;

/*
@font-face {
  font-family: 'Gallaudet';
  src: url('/fonts/gallaudet-regular.woff2') format('woff2'),
    url('/fonts/gallaudet-regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}
*/

@tailwind components;

@layer components {
  .pill {
    @apply inline-block px-2 py-1 my-1 mr-2 text-xs text-gray-600 uppercase border border-gray-300 rounded;
    transition: all 0.2s ease-in-out;
  }

  a:hover .pill {
    @apply text-blue-600 border-blue-600;
  }
}

@tailwind utilities;
