@tailwind base;

@font-face {
  font-family: 'Gallaudet';
  src: url('/fonts/gallaudet-regular.woff2') format('woff2'),
    url('/fonts/gallaudet-regular.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

@tailwind components;

@tailwind utilities;
