:root {
  --color-base: #222;
  --color-white: #fff;

  --color-dark-base: #888;
  --color-dark-pink: #e336ff;
  --color-dark-blue: #94e8fb;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
